[submodule "kicad/squantorPcbLibrary"]
	path = electronics/squantorPcbLibrary
	url = git@github.com:Squantor/squantorPcbLibrary.git
[submodule "hardware/various_schematics"]
	path = electronics/various_schematics
	url = git@github.com:Squantor/various_schematics.git
[submodule "software/lpc_chip_82x"]
	path = software/lpc_chip_82x
	url = https://github.com/Squantor/lpc_chip_82x.git
[submodule "software/squantorLibC"]
	path = software/squantorLibC
	url = https://github.com/Squantor/squantorLibC.git
[submodule "software/squantorLibEmbeddedC"]
	path = software/squantorLibEmbeddedC
	url = https://github.com/Squantor/squantorLibEmbeddedC.git
[submodule "hardware/MX_Alps_Hybrid"]
	path = electronics/MX_Alps_Hybrid
	url = git@github.com:Squantor/MX_Alps_Hybrid.git
