#kicad temporaries
*.kicad_pcb-bak
*.sch-bak
*.net
*.tmp
*.bak
_autosave*
fp-info-cache
*-cache.lib

# kicad 6 temporaries and local settings
*-backups/
*.kicad_prl
\#auto_saved_files\#

# kicad 7 temporaries and local settings
*.kicad_pcb.lck
*.kicad_sch.lck

# kicad outputs
plots/
plots-*/
*_plots_*/
*_plots/
*.zip
bom/
*.pos
